:root {
	--color-iris: #4d5ae5;
	--color-ocean: #404bbf;
	--color-navy-blue: #2e2f42;
	--color-green: #31d0aa;
	--color-slate: #434455;
	--color-light-slate: #8e8f99;
	--color-cornflower: #e7e9fc;
	--color-cloud: #f4f4fd;
	--color-white: #ffffff;
	--color-dairy: #fcfcfc;}

body{
	font-family: 'Roboto', sans-serif;
	color: var(--color-navy-blue);
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
}

	/* Скидання маркерів і підкреслення */
.list{
	list-style: none;
}

.link {
	text-decoration: none;
}

/* Logo */

.logo-link {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 117%;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--color-iris);
}

.header-logo {
	color: var(--color-navy-blue);
}


/* Header */
.menu-link {
	font-weight: 500;
	color: var(--color-navy-blue);
}
.menu-link:hover,
.menu-link:focus {
	color:var(--color-ocean);
}

.contacts-mail,
.contacts-phone {
	font-style: normal;
	font-weight: 400;
	color: var(--color-navy-blue);
}

.contacts-mail:hover,
.contacts-mail:focus {
	color:var(--color-ocean);
}

/* Hero */
.hero-title {
	font-weight: 700;
	font-size: 56px;
	line-height: 107%;
	text-align: center;
	letter-spacing: 0.02em;
	color:var(--color-white);
	background-color:var(--color-navy-blue);
}

.hero-btn {
	font-family: inherit;
	font-weight: 500;
	display: flex;
	align-items: center;
	letter-spacing: 0.04em;
	cursor: pointer;
	color: var(--color-white);
	background:var(--color-iris);
}

.hero-btn:hover {
	background:var(--color-ocean);
}

/* Section */

.section-team {
	background-color:var(--color-cloud);
}

.title {
	font-weight: 700;
	font-size: 36px;
	line-height: 111%;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
}

.subtitle {
	font-weight: 500;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0.02em;
}

.text {
	font-weight: 400;
	color:var(--color-slate);
}

/* Portfolio */
.filters-btn {
	font-family: inherit;
	font-weight: 500;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.04em;
	color:var(--color-white);
	background:var(--color-ocean);
	cursor: pointer;
}

.galery-title {
	text-align: left;
	color: var(--color-navy-blue);
}

/* Footer */
.footer {
	background-color: var(--color-navy-blue);
}
.footer-text {
	font-weight: 400;
	color: var(--color-cloud);
}

.footer-logo {
	color: var(--color-cloud);
}

